.form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.form input{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px+0+0+5px;
}
.form input::placeholder{
    color: lightgray;
}
.form button{
    border-radius: 0+5px+5px+0;
    border: none;
    background: cyan;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}
.headertext{
    font-family: 'Roboto';
}